<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>OCRBSS</display-name>
  <context-param>
  	<param-name>webAppRootKey</param-name>
  	<param-value>OCRBss</param-value>
  </context-param>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath*:applicationContext*.xml</param-value>
  </context-param>
  <context-param>
    <param-name>log4jRefreshInterval</param-name>
    <param-value>60000</param-value>
  </context-param>
  <servlet>
    <servlet-name>CXFServlet</servlet-name>
    <servlet-class>org.apache.cxf.transport.servlet.CXFServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>CXFServlet</servlet-name>
    <url-pattern>/CXF/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PdfServlet</servlet-name>
    <servlet-class>net.sf.jasperreports.j2ee.servlets.PdfServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PdfServlet</servlet-name>
    <url-pattern>/servlets/pdf</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>ocrRequestWebSocketServlet</servlet-name>
  	<servlet-class>com.zqw.bss.service.remote.msg.PushOCRRequestWebSocketServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ocrRequestWebSocketServlet</servlet-name>
    <url-pattern>/websocket/ocrreq</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>forceEncoding</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>hibernateFilter</filter-name>
    <filter-class>
			org.springframework.orm.hibernate4.support.OpenSessionInViewFilter</filter-class>
  </filter>
  <filter>
    <filter-name>shiroFilter</filter-name>
    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    <async-supported>true</async-supported>
    <init-param>
      <param-name>targetFilterLifecycle</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>shiroFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <listener>
    <listener-class>com.zqw.bss.framework.listener.LogbackConfigListener</listener-class>
  </listener>
  <listener>
    <listener-class>
			org.springframework.web.util.IntrospectorCleanupListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
  </listener>
  <session-config>
    <session-timeout>120</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>/page/login/login.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>404</error-code>
    <location>/page/common/404.html</location>
  </error-page>
</web-app>